/* WhatsApp Button */


* {
    margin: 0 auto;
    padding: 0;
   
}

.whatsApp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.my-whatsApp{
    margin-top:16px;
}
body {
    font-family: 'Montserrat', sans-serif;    
}

.nav-item {
    margin: 0 20px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.bg-black {
    background-color: #000000 
}

a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
    background-color: #000000 
}

.grad1 {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, gray,white);
}


.grad2, a.grad2 {
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, white,gray);
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
}

.fotoZoom {
    transition: all 1s ease;
   
}
    .fotoZoom:hover
    {
        transform: scale(1.20);
        position: relative;
    }

/*MODAL BEGIN*/
.imagePop {
    max-width: 600px;
    width: 100%;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);
    cursor: zoom-in;
}

    .imagePop:hover {
        max-width: 700px;
        width: 100%;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }

/*MODAL BEGIN*/
#dvModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 10999;
    position: fixed;
    display: none;
}

#dvContent {
    background-color: #FFF;
    max-width: 900px;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

    #dvContent img {
        max-width: 900px;
        width: 100%;
    }

    #dvContent p {
        text-align: center;
        font-weight: bold;
    }


    /*
        Imgae box slider

    */
* {
    box-sizing: border-box;
}

.img-comp-container {
    position: relative;
    height: 200px; /*should be the same height as the images*/
}
.img-comp-containerCat {
    position: relative;
    height: 462px; /*should be the same height as the images*/
}
.img-comp-containerCat2 {
    position: relative;
    height: 469px; /*should be the same height as the images*/
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

    .img-comp-img img {
        display: block;
        vertical-align: middle;
    }

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #585050;
    opacity: 0.7;
    border-radius: 50%;
}
/*image box slider*/